<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Articles</h2>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li *ngFor="let article of articles" class="list-group-item">
          <div (click)="toggleContent(article.id)">
            <h5 style="cursor: pointer;" [class.selected]="isContentExpanded(article.id)">{{ article.title }}</h5>
          </div>
          <div *ngIf="isContentExpanded(article.id)" [innerHTML]="article.content | safeHtml" class="mt-3"></div>
        </li>
      </ul>
    </div>
  </div>
</div>

